/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  padding: 0% 10% 0% 10%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for thenew user button */
.newusrbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #54f088f8;
}

.returnhome {
  width: auto;
  padding: 10px 18px;
  background-color: #54f088f8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  border-radius: 50%;
  height: 40%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  display: inline;
}